.App {
  min-height: 100%;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
}

.App-header > * {
  margin: 20px;
}

.header-item {
  width: 50%;
}

.App-apply { width: 25%; }

.App-url { 
  position: relative;
  width: 100%; 
}

.App-api-key { 
  position: relative;
  width: 100%; 
}


.warn-msg {
  padding: 0 20px;
}